

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 25px;
  
  }


  input[type=submit] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: black;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    
  }  

  h1{
      font-size: 8vw !important;
      text-align: center !important;
  }

  table{
    
    
  }

  div.insideres {
     padding: 3%;
  }

  body{
    
   width: 100%;
   
   text-align: center !important;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   position: relative;
  }

  div.contentholder{
  
    
    max-width: 800px !important;
    width: 90%;
   text-align: center !important;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%; 
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
  } 